#drop-area {
  background-color: lightgrey;
  height: 80px;
}

#source {
  background-color: lightblue;
  width: 50%;
}
#highlights-imported {
  background-color: mediumaquamarine;
  width: 50%;
}

#highlights-modified {
  background-color: salmon;
  width: 50%;
}

.flex {
  display: flex;
}

li {
  text-indent: 0;
  list-style: none;
}

li:hover {
  background-color: moccasin;
  cursor: pointer;
}

.highlight {
  white-space: pre-wrap;
}
