#drop-area {
  background-color: lightgrey;
  height: 80px;
}

#preview {
  background-color: lightblue;
  width: 50%;
}
#result {
  background-color: salmon;
  width: 50%;
}

.flex {
  display: flex;
}

li {
  text-indent: 0;
  list-style: none;
}
