html, body, div {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 13pt;
  color: black;
}

header {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: #B1E5F2; */
  background: linear-gradient(135deg, #96DCED 20%, #B1E5F2);
}

main {
  display: flex;
}

h1 {
  min-width: 300px;
  flex: auto;
  font-size: 1.4em;
  color: #0A0A0A;
}

h2 {
  font-size: 1.1em;
  margin-bottom: 25px;
}

button {
  font-size: 0.7em;
}

.flex {
  display: flex;
  align-items: center;
}

.full-height {
  height: calc(100vh - 80px) !important;
  overflow: auto;
}

#menu {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px;
  background-color: #fafafa;
}

#menu h2, #menu li {
  padding: 0 20px;
}

#view {
  flex-grow: 1;
  flex-shrink: 1;
  /* background-color: #FEF1E6; */
}

#view-header {
  flex-grow: 1;
}

.v-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

.h-pad {
  padding-right: 20px;
  padding-left: 20px;
}

@counter-style book-blue {
  system: cyclic;
  symbols: "\1F4D8";
  suffix: " ";
}

@counter-style ledger {
  system: cyclic;
  symbols: "📒";
  suffix: " ";
}

li {
  list-style: book-blue;
  text-indent: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 0px;
}

li:hover {
  background-color: #FBE6C5;
  cursor: pointer;
}

#booklist li {
  list-style: book-blue;
}

#sourcelist li {
  list-style: ledger;
}

li.active {
  background-color: #F8D6A0;
}

.spiral {
  list-style: spiral !important;
}

.highlight-metadata {
  white-space: pre-wrap;
}

.highlight button {
  opacity: 0;
}

.highlight-metadata:hover, .highlight-text:hover {
  cursor: pointer;
}

.highlight:hover button {
  opacity: 1;
}

.separator {
  color: #D4880C;
}

#view-actions button {
  background-color: #FBE6C5;
  color: #D4880C;
  padding: 3px 12px;
  border: none;
  border-radius: 3px;
  margin: 0 8px;
  font-family: "Inter", sans-serif;
}

@font-face {
	font-family: "Inter";
	src: url(inter.ttf);
	font-weight: 400;
	font-style: normal;
}
