#drop-area {
  background-color: lightgrey;
  height: 80px;
}

#view {
  background-color: lightblue;
  width: 70%;
}

#booklist {
  background-color: ghostwhite;
  width: 30%;
}

.flex {
  display: flex;
}

li {
  text-indent: 0;
  list-style: none;
}

li:hover {
  background-color: moccasin;
  cursor: pointer;
}

.highlight-metadata {
  white-space: pre-wrap;
}

.highlight button {
  opacity: 0;
}

.highlight:hover button {
  opacity: 1;
}
