/* CONTAINERS */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 13pt;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
}

.none {
  display: none;
}

.full-height {
  height: calc(100vh - 80px - 30px) !important;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.h-pad {
  padding-right: 20px;
  padding-left: 20px;
}

/* HEADER */

header {
  height: 80px;
  padding-left: 20px;
  padding-right: 40px;
  background-color: #145C9E;
}

h1 {
  min-width: 300px;
  flex: auto;
  font-size: 1.4em;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

header a:hover {
  color: #F8D6A0;
}

/* MAIN */

main {
  display: flex;
}

h2 {
  font-size: 1.1em;
  margin: 30px 0 20px 0;
  font-weight: normal;
}

/* MENU */

#menu {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px;
  background-color: #fafafa;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-indent: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 20px 0px 20px;
}


li:hover {
  background-color: #FBE6C5;
  cursor: pointer;
}

li.active {
  background-color: #F8D6A0;
}

#booklist li {
  list-style: book-blue inside;
}

@counter-style orange-book {
  system: cyclic;
  symbols: 📙;
  suffix: " ";
}

@counter-style book-blue {
  system: cyclic;
  symbols: 📘;
  suffix: " ";
}

@counter-style ledger {
  system: cyclic;
  symbols: 📒;
  suffix: " ";
}

#sourcelist li {
  list-style: ledger inside;
}

#clippinglist, #highlightlist, #bookmarklist, #notelist, #markedlist, #editedlist, #originallist, #duplicatelist, #deletedlist {
  list-style: orange-book inside;
}

/* VIEW */

#view {
  flex-grow: 1;
  flex-shrink: 1;
  scroll-padding: 15vh;
}

#view-header {
  flex-grow: 1;
}

.clipping {
  padding-left: 15px;
  border-left: 5px solid;
  border-color: white;
}

.active-clipping {
  /* Experimental */
  border-color: #F8D6A0;
}

.clipping-metadata {
  white-space: pre-wrap;
  color: #b1b1b1;
}

.clipping-metadata:hover, .clipping-text:hover {
  cursor: pointer;
}

button {
  font-size: 0.7em;
}

.separator {
  color: #b1b1b1;
}

#view-actions {
  margin-bottom: 20px;
}

#view-actions button {
  background-color: #FBE6C5;
  color: #D4880C;
  padding: 3px 12px;
  border: none;
  border-radius: 3px;
  margin-right: 8px;
  font-family: "Inter", sans-serif;
}

#view-actions button:hover {
  background-color: #D4880C;
  color: #FBE6C5;
  cursor: pointer;
}

#drop-instructions {
  display: flex;
  flex-grow: 1;
  margin: 60px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#drop-instructions * {
  color: #707070;
  transition: ease-out;
  animation: pulse 3s infinite;
}

.count:before {
  content: ' (';
}

.count:after {
  content: ')';
}

/* At Rules */

@font-face {
	font-family: "Inter";
	src: url(inter.ttf);
	font-weight: 400;
	font-style: normal;
}

@keyframes pulse {
  0% {
    color: #707070;
  }
  50% {
    color: #e3e1e1;
  }
  100% {
    color: #707070;
  }
}

.flash {
  transition: ease-out;
  animation-name: flash;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}

@keyframes flash {
  0% {
    background-color: #F8D6A0;
  }
  100% {
    background-color: none;
  }
}

.marked {
  background-color: #daedda;
}


.duplicate {
  background-color: #e6ccac;
}

.deleted {
  background-color: #eddada;
  color: #bf5959;
}
/*
.deleted .clipping-metadata,
.deleted .clipping-text,
.deleted .separator,
.deleted .clipping-actions {
  display: none;
} */

.clipping-actions {
  display: inline;
}

.clipping-actions button {
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 0.7em;
  color: #b1b1b1;
  cursor: pointer;
}

.clipping-actions button:hover {
  background-color: #D4880C;
  color: #FBE6C5;
}

.clipping-actions .action-delete:hover {
  background-color: #d40c0c;
  color: #fbc5c5;
}

.clipping-actions .action-mark:hover {
  background-color: #0c8f1d;
  color: #daedda;
}

.clipping-actions .action-unmark:hover, .action-undelete:hover, .action-revert:hover {
  background-color: #707070;
  color: #ebebeb;
}
